.main{
    width: 80%;
    margin-left: 10%;
    margin-top: 2.5%;
    box-shadow: grey 1px 3px 10px 5px;
    padding: 20px;
}
.int{
    width: 30%;
    display: inline-block;
}
.input{
    width: 65%;
}
.btns{
    display: block;
    margin: 10px 10px; 
}